<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kwangan2.springmvcboard.mapper.BoardMapper">
	<select id="boardVOList"
		resultType="kr.kwangan2.springmvcboard.domain.BoardVO">
      <![CDATA[
         SELECT * FROM board WHERE bno > 0
      ]]>
	</select>

	<insert id="insertBoardVO">
      <![CDATA[
         INSERT INTO board
         	(bno, title, content, writer)
         VALUES
         	(seq_board.nextval, #{title}, #{content}, #{writer})
      ]]>
	</insert>

	<insert id="insertBoardVOSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
		<![CDATA[
			SELECT seq_board.nextval FROM dual
		]]>
		</selectKey>
      <![CDATA[
         INSERT INTO board (bno, title, content, writer) VALUES (#{bno}, #{title}, #{content}, #{writer})
      ]]>
	</insert>
	
	<select id="selectBoardVO" resultType="kr.kwangan2.springmvcboard.domain.BoardVO">
		<![CDATA[
			select
				*
			from
				board
			where
				bno = #{bno}
		]]>
	</select>
	
	<delete id="deleteBoardVO">
		<![CDATA[
			delete from
				board
			where
				bno = #{bno}
		]]>
	</delete>
	
	<update id="updateBoardVO">
		<![CDATA[
			update
				board
			set 
				title = #{title},
				content = #{content},
				writer = #{writer},
				updateDate = sysdate
			where
				bno=#{bno}
		]]>
	</update>

</mapper>
